body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    margin-bottom: 20px;
}

input, button {
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.saldo {
    font-weight: bold;
}

/* Estilo para los checkboxes */
input[type="checkbox"].mes {
    width: 20px;
    height: 20px;
}

input[type="checkbox"].mes:checked {
    background-color: blue;
    border-color: blue;
}

/* Cambiar el color del checkmark */
input[type="checkbox"].mes:checked::before {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    background-color: blue;
}
