body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
}

h1 {
    color: #0056b3;
}

label {
    font-weight: bold;
}

input, select, button {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus, select:focus, button:focus {
    border-color: greenyellow;
}

button {
    background-color: green;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #004494;
}

#mensaje {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}
